{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"semi": false,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false
}
