$color-white: #fff;
$color-blue: #3877ee;
$color-dark-blue: #42567a;
$color-fucsia: #f178b6;

$color-dark-blue-opacity-20: rgba(66, 86, 122, 0.2);
$color-dark-blue-opacity-50: rgba(66, 86, 122, 0.5);
