@use '@/styles/colors' as *;

:root {
	--container-inline-padding: 20px;
}

body {
	font-family: 'PT Sans', sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	height: 50px;
	border-bottom: 1px solid $color-dark-blue;
}

.main {
	flex-grow: 1;
	padding: 50px 0;
}

.footer {
	height: 70px;
	border-top: 1px solid $color-dark-blue;
}

.bg-grid {
	position: relative;
	border-right: 1px solid $color-blue-opacity-10;
	border-left: 1px solid $color-blue-opacity-10;
}

.line {
	position: absolute;
	display: block;
	background-color: $color-blue-opacity-10;

	&--vertical {
		width: 1px;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	&--horizontal {
		width: 100%;
		height: 1px;
		top: 50%;
		transform: translateY(-50%);
	}
}
