@use '@/styles/colors' as *;
@use '@/styles/mixins' as *;

:root {
	--swiper-navigation-size: 40px;
	--swiper-navigation-sides-offset: 20px;
}

.timeline {
	&__years {
		display: flex;
		gap: 30px;

		@include breakpoint(l) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			gap: 110px;
			z-index: -1;
		}
	}

	&__year {
		font-size: 56px;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: -2%;

		@include breakpoint(l) {
			font-size: 200px;
			line-height: 0.8;
		}

		&--start {
			color: $color-blue;
		}
		&--end {
			color: $color-fucsia;
		}
	}
}

.timeline-period-slider {
	margin: 0 auto 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include breakpoint(l) {
		margin-bottom: 56px;
		padding: 0 60px;
	}

	&__container {
		position: relative;
		transition: transform 0.5s ease;

		&.is-mobile {
			display: flex;
			gap: 16px;
			overflow: hidden;
		}

		&.is-desktop {
			width: 530px;
			height: 530px;
			margin: 0 auto;
			border-radius: 100%;
			border: 1px solid $color-dark-blue-opacity-20;
		}
	}

	&__content {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: visible;

		& > div {
			position: absolute; /* контейнеры для кнопок */
			left: 50%;
			top: 50%;
			transform-origin: center center;
		}
	}

	&__slide {
		width: 56px;
		height: 56px;
		border: 1px solid transparent;
		background-color: transparent;
		border-radius: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;

		position: relative;

		cursor: pointer;
		transition: border-color 0.3s ease;

		transform-origin: center center;
		will-change: transform;
		backface-visibility: hidden;
		user-select: none;

		&:hover,
		&.is-active {
			.timeline-period-slider__slide-circle {
				transform: scale(1);
				background-color: $color-white;
				border-color: $color-dark-blue-opacity-50;
			}

			.timeline-period-slider__slide-text {
				opacity: 1;
			}
		}

		&::after {
			content: attr(data-label);
			position: absolute;
			left: 100%;
			transform: translateX(20px);
			white-space: nowrap;
			font-size: 20px;
			line-height: 1.5;
			font-weight: 700;
			color: $color-dark-blue;
			opacity: 0;
			transition: opacity 0.5s ease;
		}

		&.show-label::after {
			opacity: 1;
		}

		&-circle {
			position: absolute;
			display: block;
			width: 56px;
			height: 56px;
			background-color: $color-dark-blue;
			border-radius: 100%;
			border: 1px solid $color-dark-blue;
			transform-origin: center center;
			transform: scale(0.107);
			transition:
				transform 0.3s ease,
				background-color 0.3s ease,
				border-color 0.3s ease;
			z-index: -1;
		}

		&-text {
			color: $color-dark-blue;
			pointer-events: none;
			user-select: none;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	}

	&__counter {
		font-size: 14px;
		color: $color-dark-blue;
	}

	&__nav {
		align-self: flex-start;

		&-btns {
			margin-top: 20px;
			display: flex;
			gap: 20px;
		}

		&-btn {
			position: relative;
			flex-shrink: 0;
			width: var(--swiper-navigation-size);
			height: var(--swiper-navigation-size);
			border-radius: 100%;
			border: 1px solid $color-dark-blue-opacity-50;
			background-color: $color-white;
			transition: opacity 0.3s ease;
			text-indent: -9999px;
			cursor: pointer;

			&:disabled {
				cursor: default;
				&::after {
					background-color: $color-dark-blue-opacity-50;
				}
			}

			&:hover:not(:disabled) {
				opacity: 0.8;
			}

			&:active {
				opacity: 1;
			}

			&.swiper-button-disabled {
				pointer-events: none;
				opacity: 0;
				visibility: hidden;
			}

			&--next {
				&::after {
					transform: rotate(180deg);
				}
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				inset: 0;
				margin: auto;
				width: 8px;
				height: 12px;
				background-color: $color-dark-blue;
				mask-image: url('../assets/icons/arrow.svg');
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: contain;
			}
		}
	}

	&__pagination {
		display: flex;
		gap: 8px;
		margin-top: 8px;
	}

	&__bullet {
		width: 10px;
		height: 10px;
		background: #999;
		border-radius: 50%;

		&.is-active {
			background: #333;
		}
	}
}

.timeline-event-slider-wrapper {
	margin-right: calc(-1 * var(--container-inline-padding));
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	@include breakpoint(l) {
		margin-right: 0;
	}
}

.timeline-event-slider {
	&__slide.swiper-slide {
		width: 166px;
		height: auto;

		@include breakpoint(md) {
			width: 220px;
		}

		@include breakpoint(lg) {
			width: 320px;
		}

		&-title {
			margin-bottom: 15px;
			font-family: 'Bebas Neue', sans-serif;
			font-size: 16px;
			line-height: 1.2;
			text-transform: uppercase;
			color: $color-blue;

			@include breakpoint(lg) {
				font-size: 25px;
			}
		}

		&-desc {
			font-size: 14px;
			line-height: 1.45;
			color: $color-dark-blue;

			@include breakpoint(lg) {
				font-size: 20px;
				line-height: 1.5;
			}
		}
	}

	&__nav {
		&-btn {
			position: relative;
			flex-shrink: 0;
			width: var(--swiper-navigation-size);
			height: var(--swiper-navigation-size);
			border-radius: 100%;
			background-color: $color-white;
			box-shadow: 0 0 20px 5px rgb(56 119 238 / 15%);
			transition: opacity 0.3s ease;
			text-indent: -9999px;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}

			&:active {
				opacity: 1;
			}

			&.swiper-button-disabled {
				pointer-events: none;
				opacity: 0;
				visibility: hidden;
			}

			&--next {
				&::after {
					transform: rotate(180deg);
				}
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				inset: 0;
				margin: auto;
				width: 8px;
				height: 12px;
				background-color: $color-blue;
				mask-image: url('../assets/icons/arrow.svg');
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: contain;
			}
		}
	}
}
